body {
  background-color: aliceblue;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2rem;
  font-family: cursive;
  color: dodgerblue;
}

.alarm-container {
  width: 35vw;
  position: relative;
}

.clock {
  width: 100%;
}

#hour,
#minute,
#second {
  position: absolute;
  border-radius: 10vw;
  background-color: black;
  transform-origin: bottom;
}

#hour {
  width: 1.5%;
  height: 13%;
  top: 41.3%;
  left: 49.2%;
  opacity: 0.8;
}

#minute {
  width: 0.9%;
  height: 17%;
  top: 37%;
  left: 49.6%;
  opacity: 0.7;
}

#second {
  width: 0.5%;
  height: 30%;
  top: 24%;
  left: 49.9%;
}
